.row 
	.col-lg-4
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						h5.card-title.mb-9.fw-semibold  Jumlah Mesin
						h3.fw-semibold.mb-3 5
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-device-heart-monitor.fs-6
	.col-lg-4
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						h5.card-title.mb-9.fw-semibold  Jumlah Pengguna
						h3.fw-semibold.mb-3 500
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-users.fs-6
	.col-lg-4
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						h5.card-title.mb-9.fw-semibold  Jumlah Sekolah
						h3.fw-semibold.mb-3 33
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-school.fs-6
.row
	.col-lg-8.d-flex.align-items-strech
		.card.w-100
			.card-body
				.d-sm-flex.d-block.align-items-center.justify-content-between.mb-9
					.mb-3.mb-sm-0
						h5.card-title.fw-semibold Laporan Penjualan
					div
						select.form-select
							option(value="1") Oktober 2024
							option(value="2") November 2024
							option(value="3") Desember 2024
				#chart
	.col-lg-4
		.row
			.col-lg-12
				// Yearly Breakup
				.card.overflow-hidden
					.card-body.p-4
						h5.card-title.mb-9.fw-semibold Pendapatan Tahunan
						.row.align-items-center
							.col-8
								h4.fw-semibold.mb-3 Rp.54.000.000,-
								.d-flex.align-items-center.mb-3
									span.me-1.rounded-circle.bg-light-success.round-20.d-flex.align-items-center.justify-content-center
										i.ti.ti-arrow-up-left.text-success
									p.text-dark.me-1.fs-3.mb-0 +9%
									p.fs-3.mb-0 tahun lalu
								.d-flex.align-items-center
									.me-4
										span.round-8.bg-primary.rounded-circle.me-2.d-inline-block
										span.fs-2 2023
									div
										span.round-8.bg-light-primary.rounded-circle.me-2.d-inline-block
										span.fs-2 2023
							.col-4
								.d-flex.justify-content-center
									#breakup
			.col-lg-12
				// Monthly Earnings
				.card
					.card-body
						.row.alig.n-items-start
							.col-8
								h5.card-title.mb-9.fw-semibold  Penghasilan Bulanan 
								h4.fw-semibold.mb-3 Rp.3.000.000,-
								.d-flex.align-items-center.pb-1
									span.me-2.rounded-circle.bg-light-danger.round-20.d-flex.align-items-center.justify-content-center
										i.ti.ti-arrow-down-right.text-danger
									p.text-dark.me-1.fs-3.mb-0 +9%
									p.fs-3.mb-0 tahun lalu
							.col-4
								.d-flex.justify-content-end
									.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
										i.ti.ti-currency-dollar.fs-6
					#earning
