extends ../layouts/base

block content
	-function prettyDate(dateString){
		//if it's already a date object and not a string you don't need this line:
		-var date = new Date(dateString);
		-var d = date.getDate();
		-var monthNames = [ "Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember" ];
		-var m = monthNames[date.getMonth()];
		-var dayNames = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
		-var currentDay = dayNames[date.getDay()];
		-var y = date.getFullYear();
		-return currentDay+', '+d+' '+m+' '+y;
	-}
	.container-fluid
		br
		- var role = session.role
		case role!==undefined
			when role == 'user' : include user-dashboard.pug
			when role == 'admin' : include admin-dashboard.pug
			when role == 'teacher' : include teacher-dashboard.pug