#response-container.alert.alert-danger(role="alert", style="display:none;")

.row 
	.col-lg-3
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						//- h5.card-title.mb-9.fw-semibold Jumlah Siswa
						p.fw-semibold.mb-3(style="font-size: 1.3rem; color: black;")
							b(style="font-size: 1.53125rem") #{total_kurus}
							|
							| Siswa
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-weight.fs-6
				.row.alig.n-items-start
					.col-12 
						h6.text-primary Kekurangan Berat Badan

	.col-lg-3
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						p.fw-semibold.mb-3(style="font-size: 1.3rem; color: black;")
							b(style="font-size: 1.53125rem") #{total_normal}
							|
							| Siswa
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-success.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-weight.fs-6
				.row.alig.n-items-start
					.col-12 
						h6.text-success Normal
	.col-lg-3
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						p.fw-semibold.mb-3(style="font-size: 1.3rem; color: black;")
							b(style="font-size: 1.53125rem") #{total_gemuk}
							|
							| Siswa
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-warning.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-weight.fs-6
				.row.alig.n-items-start
					.col-12 
						h6.text-warning Kelebihan Berat Badan

	.col-lg-3
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						p.fw-semibold.mb-3(style="font-size: 1.3rem; color: black;")
							b(style="font-size: 1.53125rem") #{total_obesitas}
							|
							| Siswa
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-danger.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-weight.fs-6
				.row.alig.n-items-start
					.col-12 
						h6.text-danger Obesitas

.row
	.col-lg-12.d-flex.align-items-strech
		.card.w-100
			.row 
				.col-lg-12 
					.card-body
						.d-sm-flex.d-block.align-items-center.justify-content-between.mb-9
							.mb-3.mb-sm-0
								h5.card-title.fw-semibold Laporan Bulanan
							div
								select.form-select
									option(value="1") Oktober 2024
									option(value="2") November 2024
									option(value="3") Desember 2024
						#weight-chart
						//- img.text-center(src="/assets/images/wellness.png", alt="...", width="350", height="300")

//- 				.col-lg-4
//- 					.row
//- 						.col-lg-12
//- 							// Monthly Earnings
//- 							.card
//- 								.card-body
//- 									.row.alig.n-items-start
//- 										.col-8
//- 											h5.card-title.mb-9.fw-semibold  Tinggi Badan 
//- 											h4.fw-semibold.mb-3 173 cm
//- 										.col-4
//- 											.d-flex.justify-content-end
//- 												.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
//- 													i.ti.ti-currency-dollar.fs-6
//- 						.col-lg-12
//- 							// Monthly Earnings
//- 							.card
//- 								.card-body
//- 									.row.alig.n-items-start
//- 										.col-8
//- 											h5.card-title.mb-9.fw-semibold  Tinggi Badan 
//- 											h4.fw-semibold.mb-3 173 cm
//- 										.col-4
//- 											.d-flex.justify-content-end
//- 												.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
//- 													i.ti.ti-currency-dollar.fs-6
//- 						.col-lg-12
//- 							// Monthly Earnings
//- 							.card
//- 								.card-body
//- 									.row.alig.n-items-start
//- 										.col-8
//- 											h5.card-title.mb-9.fw-semibold  Tinggi Badan 
//- 											h4.fw-semibold.mb-3 173 cm
//- 										.col-4
//- 											.d-flex.justify-content-end
//- 												.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
//- 													i.ti.ti-currency-dollar.fs-6

script(src="../assets/libs/jquery/dist/jquery.min.js")
//- script(src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js")
script.
	$(document).ready(function() {
		const status = localStorage.getItem('status');
		if (status == 'unpaid') {
			console.log({status})
			var error = document.getElementById("response-container");
			error.style.display = "block";
			$('#response-container').html('<p>Sekolah anda telat melakukan pembayaran. Silahkan hubungi admin agar akun anda tidak di bekukan.</p>');
		}
	})