extends ../layouts/base

block content
	.container-fluid
		br
		//- br
		.card
			.card-body
				.row 
					.col-lg-9 
						h5.card-title.fw-semibold.mb-4 List Pembayaran
						p.mb-0 Berikut list pembayaran anda
					.col-lg-3
						a.button.btn.btn-primary.btn-round.ml-auto(title='', data-original-title="Tambah Mesin", data-toggle='modal', href='', data-target='#create')
							i.fa.fa-plus
							| 
							| Tambah Pembayaran
				br
				.table-responsive
					table#dataTable.table.table-bordered
						thead.thead-light
							tr
								th No
								th No. Invoice
								th Nama Sekolah
								th Total
								th Keterangan
								th Bukti Pembayaran
								th Tanggal
								th Aksi

						tbody
							//- -var no = 1;
							//- each data in datas
							tr
								td 1
								td 
									b #12345
								td 1234 - SMK Test
								td Rp.3.500.000,-
								td Pembayaran SMK Test di bulan Oktober 2024
								td 
									a(data-toggle='modal', href='', data-target='#nota', style="text-decoration: underline;") Lihat Bukti
								td Senin, 10 Oktober 2024
								td
									button.btn.btn-outline-primary.dropdown-toggle(data-toggle="dropdown", href="#", aria-expanded="false")
										| Aksi
									ul.dropdown-menu
										li
											a.dropdown-item(href='/web/v1/projects/detail?_id=87654321') Edit
											
										li 
											a.dropdown-item(href="/web/v1/projects/task?_id=87654321") Delete
							
							
					nav
						ul#pagination.pagination

	.modal.fade(id='create',tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(style="width: 800px;")
			.modal-content
				.modal-header
					h2
						b Tambah Mesin
					//- button.close(type="button", data-dismiss="modal")
					//- 	span(aria-hidden="true")
					//- 		i.ti.ti-square-x
					//- 	span.sr-only close
				.modal-body
					form.form-validation(role="form", action='/web/v1/positions/insert', enctype='multipart/form-data', method='post', accept=".jpg, .jpeg, .png")
						.form-group.row
							label.col-sm-4.form-control-label(for="device_number") Nomor Mesin
								span.text-danger *
							.col-sm-8
								input#device_number.form-control(type="text", required, placeholder="Nomor Mesin", name="device_number")
						br
						.form-group.row
							label.col-sm-4.form-control-label(for="name") Nama Mesin
								span.text-danger *
							.col-sm-8
								input#name.form-control(type="text", placeholder="Nama Mesin", required, name="name")
						br
						.form-group.row
							label.col-sm-4.form-control-label(for="hori-pass1") Penempatan
								span.text-danger *
							.col-sm-8
								select.form-control(name="school_id", id='', required="required")
									//- each school in schools
									//- 	option(value=school._id) #{school.npsn} - #{school.name}
						br
						.form-group.row
							label.col-sm-4.form-control-label(for="name") Keterangan
								span.text-danger *
							.col-sm-8
								textarea#notes.form-control(row="3", placeholder="Keterangan", required, name="notes")
						br
						.form-group.row
							.col-sm-12.col-sm-offset-4
								button.btn.btn-primary.waves-effect.waves-light.float-right(type="submit", style="float: right;")
									| Submit

	.modal.fade(id='nota',tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(style="width: 800px;")
			.modal-content
				.modal-header
					h2
						b Invoice #1234
					//- button.close(type="button", data-dismiss="modal")
					//- 	span(aria-hidden="true")
					//- 		i.ti.ti-square-x
					//- 	span.sr-only close
				.modal-body
					p tes

	script(src="https://code.jquery.com/jquery-3.5.1.min.js")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js")
	script.
		let currentPage = 1;
		const rowsPerPage = 10;

		function displayTable(page) {
			const rows = $('#dataTable tbody tr');
			const totalRows = rows.length;
			const totalPages = Math.ceil(totalRows / rowsPerPage);
			const start = (page - 1) * rowsPerPage;
			const end = start + rowsPerPage;

			rows.hide().slice(start, end).show();
			updatePagination(totalPages);
		}

		function updatePagination(totalPages) {
			const pagination = $('#pagination');
			pagination.empty();

			const prevButton = $('<li class="page-item"><a class="page-link" href="#">Previous</a></li>');
			if (currentPage === 1) prevButton.addClass('disabled');
			prevButton.click(function () {
				if (currentPage > 1) {
					currentPage--;
					displayTable(currentPage);
				}
			});
			pagination.append(prevButton);

			for (let i = 1; i <= totalPages; i++) {
				const pageButton = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');
				if (currentPage === i) pageButton.addClass('active');
				pageButton.click(function () {
					currentPage = i;
					displayTable(currentPage);
				});
				pagination.append(pageButton);
			}

			const nextButton = $('<li class="page-item"><a class="page-link" href="#">Next</a></li>');
			if (currentPage === totalPages) nextButton.addClass('disabled');
			nextButton.click(function () {
				if (currentPage < totalPages) {
					currentPage++;
					displayTable(currentPage);
				}
			});
			pagination.append(nextButton);
		}

		function filterTable() {
			const filter = $('#search').val().toLowerCase();
			const filteredRows = $('#dataTable tbody tr').filter(function () {
				return $(this).text().toLowerCase().includes(filter);
			});

			$('#dataTable tbody').empty().append(filteredRows);

			currentPage = 1; // Reset to first page
			displayTable(currentPage);
		}

		$(document).ready(function () {
			displayTable(currentPage);
		});
