html
	head 
		title Site Maintenance
		style.
			body { text-align: center; padding: 150px; }
			h1 { font-size: 50px; }
			body { font: 20px Helvetica, sans-serif; color: #333; }
			article { display: block; text-align: left; width: 650px; margin: 0 auto; }
			a { color: #dc8100; text-decoration: none; }
			a:hover { color: #333; text-decoration: none; }

	body
		
		article
			h1 Under Maintenance!
			div
				p Sorry for the inconvenience, but we are doing some maintenance at the moment. We will be back online soon!
				p &mdash; Beehive Drones Team
