li.sidebar-item
	a.sidebar-link(href="/schools", aria-expanded="false")
		span
			i.ti.ti-building
		span.hide-menu Instansi
li.sidebar-item
	a.sidebar-link(href="/devices", aria-expanded="false")
		span
			i.ti.ti-device-heart-monitor
		span.hide-menu Mesin Kesehatan
li.sidebar-item
	a.sidebar-link(href="/payments", aria-expanded="false")
		span
			i.ti.ti-file-invoice
		span.hide-menu Pembayaran