li.sidebar-item
	a.sidebar-link(href="/cashiers", aria-expanded="false")
		span
			i.ti.ti-users
		span.hide-menu Daftar Kasir
li.sidebar-item
	a.sidebar-link(href="/materials", aria-expanded="false")
		span
			i.ti.ti-carrot
		span.hide-menu Daftar Bahan
li.sidebar-item
	a.sidebar-link(href="/menus", aria-expanded="false")
		span
			i.ti.ti-salad
		span.hide-menu Daftar Menu
li.sidebar-item
	a.sidebar-link(href="/stocks", aria-expanded="false")
		span
			i.ti.ti-database
		span.hide-menu Stok Bahan