//- li.sidebar-item
//- 	a.sidebar-link(href="/majority", aria-expanded="false")
//- 		span
//- 			i.ti.ti-school
//- 		span.hide-menu Kelas & Jurusan
li.sidebar-item
	a.sidebar-link(href="/users", aria-expanded="false")
		span
			i.ti.ti-users
		span.hide-menu Pegawai
//- li.sidebar-item
//- 	a.sidebar-link(href="/recommendation", aria-expanded="false")
//- 		span
//- 			i.ti.ti-presentation
//- 		span.hide-menu Rekomendasi