//- li.sidebar-item
//- 	a.sidebar-link(href="/majority", aria-expanded="false")
//- 		span
//- 			i.ti.ti-school
//- 		span.hide-menu Kelas & Jurusan
//- li.sidebar-item
//- 	a.sidebar-link(href="/users", aria-expanded="false")
//- 		span
//- 			i.ti.ti-users
//- 		span.hide-menu Pegawai
li.sidebar-item
	a.sidebar-link(href="#sub-user", data-bs-toggle="collapse", aria-expanded="false", aria-controls="sub-user")
		span
			i.ti.ti-users
		span.hide-menu Pegawai
		span
			i.ti.ti-caret-down
	#sub-user.collapse
		ul.sidebar.flex-column.ms-3
			li.sidebar-item
				a.sidebar-link(href="/users/level?cat=direktur") Direktur
			li.sidebar-item
				a.sidebar-link(href="/users/level?cat=foreman") Foreman
			li.sidebar-item
				a.sidebar-link(href="/users/level?cat=manager") Manager
			li.sidebar-item
				a.sidebar-link(href="/users/level?cat=operator") Operator
			li.sidebar-item
				a.sidebar-link(href="/users/level?cat=staff") Staff 
			li.sidebar-item
				a.sidebar-link(href="/users/level?cat=supervisor") Supervisor
			li.sidebar-item
				a.sidebar-link(href="/users/level?cat=vendor") Vendor	