li.sidebar-item
	a.sidebar-link(href="/history", aria-expanded="false")
		span
			i.ti.ti-history
		span.hide-menu Histori
li.sidebar-item
	a.sidebar-link(href="/recommendation", aria-expanded="false")
		span
			i.ti.ti-presentation
		span.hide-menu Rekomendasi