doctype html
html(lang="en")
	head
		include head.pug
	body 
		-function prettyDate(dateString){
			//if it's already a date object and not a string you don't need this line:
			-var date = new Date(dateString);
			-var d = date.getDate();
			-var monthNames = [ "Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember" ];
			-var m = monthNames[date.getMonth()];
			-var dayNames = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
			-var currentDay = dayNames[date.getDay()];
			-var y = date.getFullYear();
			-return currentDay+', '+d+' '+m+' '+y;
		-}

		-function formatRupiah(amount) {
			-return new Intl.NumberFormat('id-ID', {style: 'currency', currency: 'IDR', minimumFractionDigits: 0, maximumFractionDigits: 0}).format(amount);
		-}

		-function prettyMonth(){
			-var date = new Date();
			-var monthNames = [ "Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember" ];
			-var m = monthNames[date.getMonth()];
			-return m;
		-}

		#main-wrapper.page-wrapper(data-layout="vertical", data-navbarbg="skin6", data-sidebartype="full", data-sidebar-position="fixed", data-header-position="fixed")
			include sidebar.pug
			.body-wrapper
				include header.pug
				br
				br
				br
				br
				block content
				include footer.pug
		include js.pug
