.py-6.px-6.text-center
	p.mb-0.fs-4 Powered by 
		//- a.pe-1.text-primary.text-decoration-underline(href="https://helber.co.id/", target="_blank") Helber
		//- | and 
		//- a.pe-1.text-primary.text-decoration-underline(href="https://beehivedrones.com", target="_blank") Beehive Drones
		br
		br
		a.pe-1(href="https://helber.co.id")
			img(src="/assets/images/logos/helber.png" height='40px' weight='50px' alt="Gambar Link", style="border-radius: 10px; transition: 0.3s;")
		|
		|
		a.pe-1(href="https://ypti.co.id")
			img(src="/assets/images/logos/ypti.png" height='40px' weight='50px' alt="Gambar Link", style="border-radius: 10px; transition: 0.3s;")
		|
		|
		a.pe-1(href="https://beehivedrones.com")
			img(src="/assets/images/logos/beehive.png" height='40px' weight='50px' alt="Gambar Link", style="border-radius: 10px; transition: 0.3s;")
	//- br
	//- .row.text-center
	//- 	.col-lg-2
	//- 		a(href="https://helber.co.id")
	//- 			img(src="/assets/images/logos/helber.png" height='40px' weight='50px' alt="Gambar Link", style="border-radius: 10px; transition: 0.3s;")
	//- 	.col-lg-2 
	//- 		a(href="https://ypti.co.id")
	//- 			img(src="/assets/images/logos/ypti.png" height='40px' weight='50px' alt="Gambar Link", style="border-radius: 10px; transition: 0.3s;")
	//- 	.col-lg-2
	//- 		a(href="https://beehivedrones.com")
	//- 			img(src="/assets/images/logos/beehive.png" height='40px' weight='50px' alt="Gambar Link", style="border-radius: 10px; transition: 0.3s;")