.py-6.px-6.text-center
	p.mb-0.fs-4 Powered by 
		a.pe-1.text-primary.text-decoration-underline(href="https://helber.co.id/", target="_blank") Helber
		| &
		|
		a.pe-1.text-primary.text-decoration-underline(href="https://beehivedrones.com/", target="_blank") Beehive Drones
