header.app-header
	nav.navbar.navbar-expand-lg.navbar-light
		ul.navbar-nav
			li.nav-item.d-block.d-xl-none
				a#headerCollapse.nav-link.sidebartoggler.nav-icon-hover(href="javascript:void(0)")
					i.ti.ti-menu-2
			li.nav-item
				br
				h4.fw-semibold Hi, #{session.name} 
				p Selamat datang di dashboard anda!
				//- a.nav-link.nav-icon-hover(href="javascript:void(0)")
				//- 	i.ti.ti-bell-ringing
				//- 	.notification.bg-primary.rounded-circle
		#navbarNav.navbar-collapse.justify-content-end.px-0
			ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-end
				//- a.btn.btn-primary(href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/", target="_blank") Download Free
				//- h6 Hi, Rose
				li.nav-item.dropdown
					a#drop2.nav-link.nav-icon-hover(href="javascript:void(0)", data-bs-toggle="dropdown", aria-expanded="false")
						if (session.gender == 'male')
							img.rounded-circle(src="/assets/images/profile/male-avatar.png", alt="...", width="45", height="45")
						else 
							img.rounded-circle(src="/assets/images/profile/female-avatar.png", alt="...", width="45", height="45")

					.dropdown-menu.dropdown-menu-end.dropdown-menu-animate-up(aria-labelledby="drop2")
						.message-body
							a.d-flex.align-items-center.gap-2.dropdown-item(href="javascript:void(0)")
								i.ti.ti-user.fs-6
								p.mb-0.fs-3 My Profile
							//- a.d-flex.align-items-center.gap-2.dropdown-item(href="javascript:void(0)")
							//- 	i.ti.ti-mail.fs-6
							//- 	p.mb-0.fs-3 My Account
							//- a.d-flex.align-items-center.gap-2.dropdown-item(href="javascript:void(0)")
							//- 	i.ti.ti-list-check.fs-6
							//- 	p.mb-0.fs-3 My Task
							a#logout.btn.btn-outline-primary.mx-3.mt-2.d-block(href="#") Logout