meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
title Wellness Monitoring
link(rel="shortcut icon", type="image/png", href="/assets/images/logos/favicon.png")
link(rel="stylesheet", href="/assets/css/styles.min.css")
//- link(rel="stylesheet", href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css")
style.
    .pagination {
        justify-content: center;
    }