meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
title Seblak Ummi
link(rel="shortcut icon", type="image/png", href="/assets/images/logos/logo4.png")
link(rel="stylesheet", href="/assets/css/styles.min.css")
link(rel="stylesheet", href="/assets/css/datatables.css")
//- link(rel="stylesheet", href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css")
//- script(src="https://code.jquery.com/jquery-3.6.0.min.js")
//- script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
//- link(rel="stylesheet", href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css")

style.
	body {font-family: 'Helvetica Now', sans-serif;}
	.paginations {justify-content: center;}
	.tabs {
		justify-content: left;
		position: relative;
	}
	.tab {
		color: #5a6a85;
		padding: 10px 20px;
		margin: 0 5px;
		border: none;
		background-color: white;
		cursor: pointer;
		font-size: 15px;
		position: relative;
		transition: color 0.3s;
	}
	.tab.active {color: #18b1c6;}
	.tab:after {
		content: "";
		display: block;
		height: 2px; /* Height of the underline */
		background: #18b1c6; /* Color of the underline */
		position: absolute;
		left: 0;
		right: 0;
		bottom: -5px; /* Position the underline below the tab */
		transform: scaleX(0); /* Initially scale down the underline */
		transition: transform 0.3s ease; /* Animation for the underline */
	}
	.tab.active:after {transform: scaleX(1); }
	.dropdown-divider{height:0;margin:.5rem 0;overflow:hidden;border-top:1px solid #0000001c;}
	footer {
		text-align: center; /* Pusatkan konten */
		padding: 20px;
	}
	.footer-links {
		display: flex;
		justify-content: center; /* Pusatkan gambar */
		gap: 15px; /* Beri jarak antar gambar */
		flex-wrap: wrap; /* Agar responsif */
	}
	.footer-links a img {
		width: 120px; /* Ukuran gambar */
		height: auto;
		transition: transform 0.3s;
	}
	.footer-links a img:hover {
		transform: scale(1.1); /* Efek zoom saat hover */
	}

	.cart-footer {
		position: fixed;
		bottom: 0;
		width: 90%;
		background: #fff;
		padding: 10px;
		box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		text-align: center;
	}
	.cart-container {
		display: none;
		position: fixed;
		bottom: 50px;
		width: 90%;
		background: white;
		padding: 10px;
		border-top: 2px solid #ddd;
	}
	.cart-container2 {
		display: none;
		position: fixed;
		bottom: 50px;
		width: 90%;
		background: white;
		padding: 10px;
		border-top: 2px solid #ddd;
	}
	.cart-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 0;
	}
	.cart-item img {
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
	