script(src="/assets/libs/jquery/dist/jquery.min.js")
script(src="/assets/libs/datatables/datatables.min.js")

script(src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js")
script(src="/assets/js/sidebarmenu.js")
script(src="/assets/js/app.min.js")
script(src="/assets/libs/apexcharts/dist/apexcharts.min.js")
//- script(src="/assets/js/dashboard.js")
script(src="/assets/libs/simplebar/dist/simplebar.js")
//- script(src="/assets/js/customChart.js")
script.
	$(document).ready(function() {
		$('#logout').click(function() {
			// AJAX GET request
			var host = window.location.origin;
			const token = localStorage.getItem('token');
			$.ajax({
				url: host + '/api/v1/auth/logout', // Example API
				method: 'POST',
				headers: {
					'Authorization': 'Bearer ' + token // Include the token in the header
				},
				success: function(response) {
					//- console.log({response})
					if (response.status == 200){
						localStorage.clear();
						window.location.href = host
					}
				},
				error: function(xhr, status, error) {
					//- console.log({xhr, status, error})
					console.error('Error submitting data: ', error);
					$('#response-container').html('<p>Error submitting data. Please try again later.</p>');
				}
			});
		});
	});

script.
	$(document).ready(function() {
		var table = $('#basic-datatables').DataTable({
			"paging": true,
			"searching": true,
			"info": false,
			"ordering": true,
			"lengthMenu": [10, 25, 50, 100],
			"deferRender": true,
			"scroller": true,
		});
		$('#categoryFilter').on('change', function () {
			var selectedCategory = $(this).val();
			console.log({selectedCategory})
			table.column(11).search(selectedCategory).draw(); // Filter berdasarkan kolom kategori (index ke-2)
		});
		$('.dataTables_length').html(`
			<label>Show
				<select id="customEntries" class="custom-entries">
					<option value="10" selected>10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select> entries
			</label>
		`);

		// Event listener untuk dropdown custom
		$('#customEntries').on('change', function() {
			var value = $(this).val();
			table.page.len(value).draw();
		});
		//- $('.dataTables_length').clone().appendTo('.custom-footer').show();
		
	});