script(src="/assets/libs/jquery/dist/jquery.min.js")
script(src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js")
script(src="/assets/js/sidebarmenu.js")
script(src="/assets/js/app.min.js")
script(src="/assets/libs/apexcharts/dist/apexcharts.min.js")
script(src="/assets/libs/simplebar/dist/simplebar.js")
script(src="/assets/js/dashboard.js")
script(src="/assets/js/customChart.js")