aside.left-sidebar
	// Sidebar scroll
	div
		br
		.brand-logo.d-flex.align-items-center.justify-content-between
			a.text-nowrap.logo-img(href="#")
				//- img(src="../assets/images/logos/logo4.png", width="90%", alt=)
				h2 Pyrocycle
			#sidebarCollapse.close-btn.d-xl-none.d-block.sidebartoggler.cursor-pointer
				i.ti.ti-x.fs-8
		// Sidebar navigation
		//- hr
		nav.sidebar-nav.scroll-sidebar(data-simplebar="")
			ul#sidebarnav
				li.nav-small-cap
					i.ti.ti-dots.nav-small-cap-icon.fs-4
					span.hide-menu Menu
				li.sidebar-item
					a.sidebar-link(href="/dashboard", aria-expanded="false")
						span
							i.ti.ti-layout-dashboard
						span.hide-menu Dashboard
				- var role = session.role
				case role!==undefined
					when role == 'cashier' : include ./menubar/cashier-menu.pug
					when role == 'admin' : include ./menubar/admin-menu.pug
					when role == 'owner' : include ./menubar/owner-menu.pug