doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Wellness Point
		link(rel="shortcut icon", type="image/png", href="../assets/images/logos/icon.png")
		link(rel="stylesheet", href="../assets/css/styles.min.css")
	body
		// Body Wrapper
		#main-wrapper.page-wrapper(data-layout="vertical", data-navbarbg="skin6", data-sidebartype="full", data-sidebar-position="fixed", data-header-position="fixed")
			.position-relative.overflow-hidden.radial-gradient.min-vh-100.d-flex.align-items-center.justify-content-center
				.d-flex.align-items-center.justify-content-center.w-100
					.row.justify-content-center.w-100
						.col-md-8.col-lg-6.col-xxl-3
							.card.mb-0
								.card-body
									a.text-nowrap.logo-img.text-center.d-block.py-3.w-100(href="#")
										// <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
										img(src="../assets/images/logos/logo1.png", width="150", alt=)
										//- h2 Logo
									//- p.text-center Wellness Monitoring
									br
									#response-container.alert.alert-danger(role="alert", style="display:none;")
									form#data-form
										.mb-3
											label.form-label(for="exampleInputEmail1") NISN
												span.text-danger *
											input#nisn.form-control(type="text", name="nisn", required)
										.mb-3
											label.form-label(for="exampleInputEmail1") Nama Lengkap
												span.text-danger *
											input#name.form-control(type="text", name="name", required)
										.mb-3
											label.form-label(for="exampleInputEmail1") Jenis Kelamin
												span.text-danger *
											select.form-control(name="gender", required="required", id="gender")
												option(value='') -- Pilih Jenis Kelamin --
												option(value="male") Laki-laki
												option(value="female") Perempuan
										.mb-3
											label.form-label(for="") NPSN Sekolah
												span.text-danger *
											input#school_npsn.form-control(type="text", name="npsn", required)
										.mb-3
											label.form-label(for="exampleInputEmail1") Register Sebagai
												span.text-danger *
											select.form-control(name="role", id='role', required="required")
												option(value='') -- Pilih Role --
												option(value="teacher") Guru 
												option(value="user") Murid
										.mb-3
											label.form-label(for="exampleInputPassword1") Buat PIN
												span.text-danger *
											input#pin.form-control(type="password", name="pin")
										//
											<div class="d-flex align-items-center justify-content-between mb-4">
											<div class="form-check">
											<input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
											<label class="form-check-label text-dark" for="flexCheckChecked">
											Remeber this Device
											</label>
											</div>
											<a class="text-primary fw-bold" href="./index.html">Forgot Password ?</a>
											</div>
										br
										button.btn.btn-primary.w-100.py-8.fs-4.mb-4.rounded-2(type="submit") Daftar
										.d-flex.align-items-center.justify-content-center
											//- p.fs-4.mb-0.fw-bold New to Modernize?
											| Sudah punya akun?
											a.text-primary.fw-bold.ms-2(href="/") Masuk
		script(src="../assets/libs/jquery/dist/jquery.min.js")
		script(src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js")
		script.
			$(document).ready(function() {
				$('#data-form').submit(function(event) {
					event.preventDefault(); // Prevent the default form submission
					var host = window.location.origin;

					const nisn = $('#nisn').val();
					const name = $('#name').val();
					const gender = $('#gender').val();
					const school_npsn = $('#school_npsn').val();
					const role = $('#role').val();
					const pin = $('#pin').val();

					const obj = { nisn: nisn, name: name, gender: gender, school_npsn: school_npsn, role: role, pin: pin }
					//- console.log({obj})

					$.ajax({
						url: host + '/api/v1/auth/register', // Example API
						method: 'POST',
						contentType: 'application/json',
						data: JSON.stringify(obj),
						success: function(response) {
							//- console.log({response})
							if (response.status == 404){
								var error = document.getElementById("response-container");
								error.style.display = "block";
								$('#response-container').html(response.message)
								$('#data-form')[0].reset();
							} else if (response.status == 200){
								window.location.href = host
							}
						},
						error: function(xhr, status, error) {
							//- console.log({xhr, status, error})
							console.error('Error submitting data: ', error);
							$('#response-container').html('<p>Error submitting data. Please try again later.</p>');
						}
					});
				});
			});
