extends ../layouts/base

block content
	.container-fluid
		br
		//- br
		.card
			.card-body
				h5.card-title.fw-semibold.mb-4 List Siswa
				p.mb-0 Berikut daftar murid anda
				br
				.table-responsive
					table#dataTable.table.table-bordered
						thead.thead-light
							tr
								th No
								th NISN
								th Nama
								th Jenis Kelamin
								th Kategori BMI
								th Aksi

						tbody
							-var no = 1;
							each data in datas
								tr
									td #{no++}
									td 
										b #{data.nisn}
									td #{data.name}
									td
										if (data.gender == 'male')
											| Laki-laki
										else 
											| Perempuan
									td -
									td
										button.btn.btn-outline-primary.dropdown-toggle(data-toggle="dropdown", href="#", aria-expanded="false")
											| Aksi
										ul.dropdown-menu
											//- li
											//- 	a.dropdown-item(href='/web/v1/projects/detail?_id=87654321') Detail
											//- .dropdown-divider
											li
												a.dropdown-item(href='/web/v1/projects/detail?_id=87654321') Edit
												
											li 
												a.dropdown-item(href="/web/v1/projects/task?_id=87654321") Delete
							
					nav
						ul#pagination.pagination

	script(src="https://code.jquery.com/jquery-3.5.1.min.js")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js")
	script.
		let currentPage = 1;
		const rowsPerPage = 10;

		function displayTable(page) {
			const rows = $('#dataTable tbody tr');
			const totalRows = rows.length;
			const totalPages = Math.ceil(totalRows / rowsPerPage);
			const start = (page - 1) * rowsPerPage;
			const end = start + rowsPerPage;

			rows.hide().slice(start, end).show();
			updatePagination(totalPages);
		}

		function updatePagination(totalPages) {
			const pagination = $('#pagination');
			pagination.empty();

			const prevButton = $('<li class="page-item"><a class="page-link" href="#">Previous</a></li>');
			if (currentPage === 1) prevButton.addClass('disabled');
			prevButton.click(function () {
				if (currentPage > 1) {
					currentPage--;
					displayTable(currentPage);
				}
			});
			pagination.append(prevButton);

			for (let i = 1; i <= totalPages; i++) {
				const pageButton = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');
				if (currentPage === i) pageButton.addClass('active');
				pageButton.click(function () {
					currentPage = i;
					displayTable(currentPage);
				});
				pagination.append(pageButton);
			}

			const nextButton = $('<li class="page-item"><a class="page-link" href="#">Next</a></li>');
			if (currentPage === totalPages) nextButton.addClass('disabled');
			nextButton.click(function () {
				if (currentPage < totalPages) {
					currentPage++;
					displayTable(currentPage);
				}
			});
			pagination.append(nextButton);
		}

		function filterTable() {
			const filter = $('#search').val().toLowerCase();
			const filteredRows = $('#dataTable tbody tr').filter(function () {
				return $(this).text().toLowerCase().includes(filter);
			});

			$('#dataTable tbody').empty().append(filteredRows);

			currentPage = 1; // Reset to first page
			displayTable(currentPage);
		}

		$(document).ready(function () {
			displayTable(currentPage);
		});
